<div class="jumbotron">
  <h1>Home</h1>
  <div class="container">
    <h1 class="display-3">Casal verde</h1>
    <p>THier komt een achtergrond afbeelding met een introtekst en een knop .</p>
    <p><a class="btn btn-primary btn-lg" href="/prijs.nl" role="button">Boek nu! &raquo;</a></p>
  </div>
</div>