
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 col-md-8"> <% @content_block.each do |b| %>
        <h1><%= b.title %></h1>
    <% end %>

    <% @content_block.each do |b| %>
        <p><%= b.body %></p>
    <% end %></div>
  <div class="col-xs-6 col-md-4"><% @content_block.each do |b| %>
        <img src="<%= b.image_url %>">
    <% end %></div>
</div>



<div id="main-container" class="container-fluid">

  <div class="row-1">
    <div class="col-xs-9">
      <h1><% @content_block.each do |b| %>
            <p><%= b.page %></p>
        <% end %></h1>
    </div>

  </div>
