body{
  background-size: cover;
  background-color: #e8dbb4;
}

.navbar-default {
  background-color: #593b43;
  border-color: #d4cbcb;
}

.navbar-default .navbar-nav > li > a {
  color: #c3bfad;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #593b43;
  background-color: #f2b988;
}
.navbar-default .navbar-nav > li > a:focus{
  background-color: #f2b988;
}






.jumbotron {
  background-color: #f2b988;
}

h1.display-3{
  color: #8c8669;
}

.jumbotron .container p{
  color: #8c5c51;
}

.btn-primary {
  background-color: #593b43;
  border-color: #585756;
}

.img-fluid {
  max-width: 100%;
  border-radius: 6px;
}
