body{
  background-color: #e6efb8;
}

.navbar-default {
  background-color: #ffa981;
  border-color: #d4cbcb;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
  color: #427d18;
  background-color: #ffbb9c;
}

.jumbotron {
  background-color: #f7da71;
}

h1.display-3{
  color: #417d17;
}

.jumbotron .container p{
  color: #866224;
}

.btn-primary {
  background-color: #427d18;
  border-color: #585756;
}

.img-fluid {
  max-width: 100%;
  border-radius: 6px;

}
